

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
     <%- include('partials/head.ejs')  %>
</head>
<body>

     <%- include('partials/navigation.ejs') %>
     
     <main>
        <section class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <h1 class="display-1"> About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vel exercitationem, iure nam tempora nostrum alias cumque explicabo accusantium? Ipsam tempore ea iure eos pariatur modi. Repudiandae quae ea sunt, optio aliquid expedita. Laboriosam recusandae nesciunt officiis dolore sunt. Vel accusamus harum fugiat eum a quas, ex aliquam odio. Quam reiciendis incidunt dolorem, doloribus aspernatur ex inventore modi architecto. Porro maiores dolorem ratione rem cupiditate? Quia delectus architecto eligendi ipsum illum fugit dolore ea, nemo deserunt sunt praesentium sed dignissimos aliquam fuga molestiae. Fuga vel nihil, facere hic in eligendi quod quibusdam minima dolore saepe earum mollitia itaque, fugiat unde fugit atque quos, accusamus quasi harum eveniet aliquid sequi totam? Repellendus pariatur, exercitationem nam reiciendis aliquam aperiam molestias modi voluptates quisquam magnam eum et recusandae aliquid rem, atque fugit tenetur, temporibus similique autem assumenda fuga excepturi sint? Consectetur reiciendis accusamus pariatur voluptates, unde ad id voluptatum provident esse dolorem consequatur earum enim iure fuga ea, dolor ex deserunt molestiae molestias laudantium aperiam eligendi facere? Rerum amet et quod tenetur saepe nesciunt dignissimos quasi. Eius, non quas fuga iure recusandae tempora rerum est voluptates dolore, accusamus quam laudantium nihil itaque? Saepe quas officia unde neque libero, eum sit reiciendis iste, voluptatem sapiente deleniti ea. Voluptate, esse sit accusamus unde natus quia voluptatem ab iste ut fuga earum quas tempora laborum iure eligendi quos aspernatur provident fugit ratione alias consequuntur dolorum illum distinctio. Adipisci itaque debitis id non odit dolorem, suscipit impedit esse eligendi, sed quam corporis. Tenetur id culpa eligendi vitae architecto, eos suscipit facere, incidunt officia quae modi assumenda sequi sit explicabo. Velit magni nemo earum quis autem quas dolore deserunt, similique optio suscipit laboriosam recusandae fugiat, nisi voluptate quos repudiandae possimus, consequuntur nesciunt voluptates iure natus ad rerum laudantium enim! Consequuntur suscipit ab, minus facilis dignissimos laudantium. Minima, animi!</p>
        </section>

     </main>
    
</body>
</html>