<footer>
<h1>Lorem ipsum dolor.</h1>

<p> la derivada de la funcion es igual al limite del cociente incremental cuando delta de x tiende a cero...
    geometria analitica, plana y esferica
    integral curvilinea, definida e indefinida...

</p>



</footer>